extends layout

block content
  h1= title
  - var results = [{Dog_type: "Lab", Name: "Snoopy", Age: "2", Color: "Black"},{Dog_type: "Husky", Name: "Popy", Age: "3", Color: "White"},{Dog_type: "Pitbull", Name: "Rishil", Age: "1", Color: "Brown"}]

  .container-fluid
    .row
      each f,index in results 
        .col-sm-2(onclick=`buy(${index})`)
          | #{f.Dog_type}, #{f.Name}, #{f.Age}, #{f.Color}
          
  script.
    function buy(index) {
      alert(`Your purchased Dog: ${index+1}`);
    }